<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nesh.songprovider">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:name="PathToYourProvider"
            android:authorities="com.nesh.songprovider.providername"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
